@import '../../variables.scss';

.container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 15px;

  & span:not(.button-group > span) {
    font-size: 14px;
    color: $text-description;
  }
}

.button-group {
  display: flex;
  align-items: center;

  border: 1px solid $border;
  border-radius: 2px;

  & span {
    color: $label-started;

    border-right: 1px solid $border;

    padding: 10px 30px;
  }
}

.button {
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: $label-started;

  outline: none;
  border: none;
  border-right: 1px solid $border;

  background-color: transparent;

  transition: all 0.3s linear;

  &:last-child {
    border: none;
  }

  &:hover,
  &:focus {
    background-color: $label-started;
    color: $white;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    color: $black;
    background-color: transparent;
    cursor: default;
  }
}

.select {
  height: 40px;
  width: 40px;
  color: $label-started;

  outline: none;
  border: 1px solid $border;
  border-radius: 2px;

  transition: all 0.3s linear;

  &:hover,
  &:focus {
    border-color: $label-started;
  }
}
