@import '../../variables.scss';

.container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  height: 100vh;
}

.content {
  width: calc(100% - 2 * 40px);

  margin: auto 40px;

  @media (max-width: $tablet) {
    width: calc(100% - 2 * 30px);

    margin: auto 30px;
  }

  @media (max-width: $mobile) {
    width: calc(100% - 2 * 20px);

    margin: auto 20px;
  }
}
