@import '../../variables.scss';

.label {
  display: inline-block;

  font-size: 12px;
  text-align: center;

  width: 100px;

  border-radius: 2px;
  color: $white;
  padding: 5px 30px;
}

.label-new {
  background-color: $label-new;
}

.label-declined {
  background-color: $label-declined;
}

.label-assigned_to {
  background-color: $label-assigned_to;
}

.label-started {
  background-color: $label-started;
}

.label-completed {
  background-color: $label-completed;
}
