@import '../../../variables.scss';

.company {
  @media (max-width: 1200px) {
    display: inline-block;
    width: 250px;

    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.task {
  cursor: pointer;
  outline: none;

  transition: all 0.3s linear;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 7px $gray;
  }
}
