@import '../../variables.scss';

.table {
  width: 100%;
  border-collapse: collapse;

  margin-bottom: 70px;

  & thead {
    font-size: 14px;
    color: $text-description;
    text-align: left;
  }

  & th {
    font-weight: 400;
  }

  & th:last-of-type,
  & td:last-of-type {
    text-align: center;
  }
}

.row {
  height: 50px;
  border-bottom: 1px solid $border;

  & span:not([class]) {
    font-size: 14px;
    color: $text-description;
  }
}
