@import '../../variables.scss';

.table {
  width: 100%;
  border-collapse: collapse;

  line-height: 1.5;

  margin-bottom: 70px;
}

thead {
  font-size: 14px;
  color: $text-description;
  text-align: left;

  @media (max-width: $tablet-mini) {
    display: none;
  }
}

th {
  font-weight: 400;
}

th:last-of-type {
  text-align: center;
}

.row {
  height: 50px;
  border-bottom: 1px solid $border;

  white-space: nowrap;

  span:not([class]) {
    font-size: 14px;
    color: $text-description;
  }

  @media (max-width: $tablet-mini) {
    height: 100%;
  }
}
